<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"  content="width=device-width, initial-scale=1, shrink-to-fit=yes">
    <meta name="description"  content="COVID-19 - Novel Corona Virus Live Report | Global Statistics by Countries">
    <title>COVID-19 - Novel Corona Virus Case Report</title>
<!--    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">-->
    <link rel="stylesheet" href="/bootstrap/bootstrap.min.css">

    <link rel="icon" href="/images/corona-icon.png" type="image/png">
    <script src="/jquery/jquery-3.4.1.min.js"></script>
    <script src="/bootstrap/popper.min.js"></script>
    <script src="/bootstrap/bootstrap.min.js"></script>

<!--    <script data-ad-client="ca-pub-7654250176015976" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>-->
    <script type="text/javascript" src="/js/country.js"></script>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

    <script>
        var confirmedByCountryByDate = "[[${confirmedByCountryByDate}]]";
        var deathByCountryByDate = "[[${deathByCountryByDate}]]";
        var recoveredByCountryByDate = "[[${recoveredByCountryByDate}]]";
        var countryName = "[[${countryName}]]";
    </script>
    <script th:inline="javascript" src="/js/details.js"></script>

</head>
<body>
<div class="container">
    <h2>COVID-19 - Case Report</h2>
    <div class="row">
        &nbsp;&nbsp;&nbsp;&nbsp;<img th:src="@{/images/back-button.png}" width="30" height="30" align="middle" onclick="goBackToHome(event)"/>
        <div class="col-auto">
            <a class="lead ont-weight-bold text-primary" id="displayName"></a>
        </div>
        <div class="col-auto" align="left">
            <img th:src="@{/country/{code}.png (code=${countryCode})}" width="40" th:classappend="shadow-sm" id="countryFlagImage">
        </div>

    </div>

    <div id="curve_chart" style="height: 450px;width=device-width"></div>
    <hr class="my-4">
<!--    <form class="form-inline">-->
<!--        &lt;!&ndash; Search form &ndash;&gt;-->
<!--        <input class="form-control" type="text" placeholder="Search" aria-label="Search" onkeyup="searchFunction()" id="myInputDetail">-->
<!--    </form>-->

    <input class="form-control" id="myInput" type="text" placeholder="Search..">
    <br>
    <div class="table-responsive">
        <table class="table table-hover" id="temp-table">
            <thead>
            <tr>
                <th>Region</th>
<!--                <th data-priority="1">active</th>-->
                <th>Confirmed</th>
                <th>Deaths</th>
                <th>Recovered</th>

            </tr>
            </thead>
            <tbody id="stateTableBodyId">
            </tbody>
        </table>
    </div>

</div>
</body>
</html>