<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
<style>
.container {
    display: inline-block;
<!--    background-size: 40px 40px; /* image's size */-->
<!--    height: 40px; /* image's height */-->
<!--    padding-left: 50px; /* image's width plus 10 px (margin between text and image) */-->
}

.smid {
    height: 40px; /* image's height */
    display: table-cell;
    vertical-align: middle;
}
</style>
</head>
<body>
<h1>Error Page</h1>
<div align="vertical">

        <img th:src="@{/images/error.png}" height="100" width="100"/>
<!--        <a th:text="${timestamp}"/> -->
        <p><a onclick="window.reload();">Go Home</a></p>

</div>

<!--<table>-->
<!--    <tr>-->
<!--        <td>Date</td>-->
<!--        <td th:text="${timestamp}"/>-->
<!--    </tr>-->
<!--    <tr>-->
<!--        <td>Path</td>-->
<!--        <td th:text="${path}"/>-->
<!--    </tr>-->
<!--    <tr>-->
<!--        <td>Error</td>-->
<!--        <td th:text="${error}"/>-->
<!--    </tr>-->
<!--    <tr>-->
<!--        <td>Status</td>-->
<!--        <td th:text="${status}"/>-->
<!--    </tr>-->
<!--    <tr>-->
<!--        <td>Message</td>-->
<!--        <td th:text="${message}"/>-->
<!--    </tr>-->
<!--    <tr>-->
<!--        <td>Exception</td>-->
<!--        <td th:text="${exception}"/>-->
<!--    </tr>-->
<!--    <tr>-->
<!--        <td>Trace</td>-->
<!--        <td>-->
<!--            <pre th:text="${trace}"/>-->
<!--        </td>-->
<!--    </tr>-->
<!--</table>-->
</body>
</html>