<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script data-ad-client="ca-pub-7654250176015976" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <title>Corona Virus Report</title>

    <script type="text/javascript" src="/js/home.js"></script>

</head>
<body>
<div class="container">
    <h2>Corona Virus Tracker</h2>

    <div class="jumbotron">
        <a>Total Deaths : </a>
            <h1 class="display-4 text-danger" th:text="${#numbers.formatInteger(allTotalDeathCases,3,'COMMA')}" ></h1>
        <a class="lead">Total Confirmed : </a>
        <a class="lead text-danger ont-weight-bold" th:text="${#numbers.formatInteger(allTotalCases,3,'COMMA')}" ></a>
        &nbsp;<a class="lead">Recovered : </a>
        <a class="lead text-success ont-weight-bold" th:text="${#numbers.formatInteger(allTotalRecoveredCases,3,'COMMA')}" ></a>
        <hr class="my-4">

        <form class="form-inline">
            <!-- Search form -->
            <input class="form-control" type="text" placeholder="Search" aria-label="Search" onkeyup="searchFunction()" id="myInput">
        </form>
    </div>
    <div id="info"></div>
    <div class="table-responsive">
    <table class="table table-hover" id="myTable">
        <thead class="thead-dark">
        <tr>
            <th><a href="#" onclick="sortTable(0)" class="text-light">Country</a></th>
            <th><a href="#" onclick="sortTable(1)" class="text-light">Confirmed</a></th>
            <th><a href="#" onclick="sortTable(2)" class="text-light">New Cases</a></th>
            <th><a href="#" onclick="sortTable(3)" class="text-light">Critical</a></th>
            <th><a href="#" onclick="sortTable(4)" class="text-light">Deaths</a></th>
            <th><a href="#" onclick="sortTable(5)" class="text-light">New Deaths</a></th>
            <th><a href="#" onclick="sortTable(6)" class="text-light">Recovered</a></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="stats : ${statsList}" th:classappend="${stats.totalCases == 0 || (stats.totalCases-stats.totalRecoveredCases) == 0 ? 'table-success' : ''}"
            onclick="goToDetails(event)">
            <td th:text="${stats.country}" width="100"></td>
            <td th:text="${stats.totalCases}"></td>
            <td th:text="${stats.newCases==0 ? '' : '+'} + ${stats.newCases}"></td>
            <td th:text="${stats.criticalCases}" th:classappend="${stats.criticalCases == 0 ? '' : 'bg-warning text-dark'}"></td>
            <td th:text="${stats.totalDeathCases}" th:classappend="${stats.totalDeathCases == 0 ? '' : 'text-danger'}"></td>
            <td th:text="${stats.newDeathCases==0 ? '':'+'} + ${stats.newDeathCases}" th:classappend="${stats.newDeathCases == 0 ? '' : 'bg-danger text-white'}"></td>
            <td th:text="${stats.totalRecoveredCases}" th:classappend="${stats.totalRecoveredCases==0?'':'text-success'}"></td>
        </tr>
        </tbody>
    </table>
    </div>
</body>
</html>